section.coming-soon {
    position: relative;
    background-color: #f5a5250c;
}

section.coming-soon::after:not(.ce) {
    content: "";
    background: url("https://image.freepik.com/free-vector/wavy-background-with-copy-space_52683-65230.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -120px 60px;
    }
}

#InfoBanner {
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

.reversed {
    display: inline-block;
    padding: 0.3em;
    padding-left: 0.4em;
    margin-left: 0.8em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    color: #fff;
    font-size: 20px;
    background-color: #ef5350;
}

.reversed:before,
.reversed:after {
    content: '';
    width: 0;
    height: 0;
    right: -0.8em;
    position: absolute;
    top: 0;
    border-top: 0.8em solid #ef5350;
}

.reversed:after {
    top: auto;
    bottom: 0;
    border-top: none;
    border-bottom: 0.8em solid #ef5350;
}

.reversedRight:before,
.reversedRight:after {
    border-right: 0.8em solid transparent;
    right: -0.8em;
}

.reversedRight {
    width: 25px;
    border-radius: 5px 0px 0px 5px;
    animation: tilt 2s infinite;
}

@keyframes tilt {
    0% {
        left: 0%;
    }
    50% {
        left: 9px;
    }
    100% {
        left: 0px;
    }
}

.reversedLeft {
    margin-left: 15px;
    border-radius: 0px 5px 5px 0px;
}

.reversedLeft:before,
.reversedLeft:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    left: -0.8em;
    position: absolute;
}

.reversedLeft:after {
    top: auto;
    bottom: 0;
    border-top: 0.8em solid #ef5350;
    border-bottom: none;
}

.reversedLeft:before {
    bottom: auto;
    top: 0;
    border-bottom: 0.8em solid #ef5350;
    border-top: none;
}

.bgAnimation {
    background-color: #ef5350;
    background-image: linear-gradient( 45deg, #e57373 25%, transparent 25%, transparent 75%, #e57373 75%, #e57373), linear-gradient( -45deg, #e57373 25%, transparent 25%, transparent 75%, #e57373 75%, #e57373);
    background-size: 60px 60px;
    animation: slide 4s infinite linear;
}

.ctr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px auto 80px;
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    padding: 20px;
}

.card {
    width: 300px;
    height: 416px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%);
}

.card:hover .card__image {
    transform: translateY(-10px);
}

.card:hover .card__thumb::after {
    top: 0;
}

.card:hover .card__snippet {
    margin: 20px 0;
}

.card__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .card__thumb {
        max-height: 500px;
    }
}

.card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

@media (min-width: 1024px) {
    .card__thumb::after {
        top: calc(100% - 140px);
    }
}

.card__image {
    transition: 0.5s ease-in-out;
}

.card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
}

@media (min-width: 1024px) {
    .card__caption {
        top: calc(100% - 110px);
        transform: unset;
    }
}

.card__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
    .card__snippet {
        margin: 60px 0;
    }
}

.card__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.card__button:hover {
    color: black;
    background-color: white;
}

.tariffCards {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -140px;
    user-select: none;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
}

.tariffCards:after {
    position: absolute;
    bottom: -27px;
    left: 5%;
    content: '';
    width: 65%;
    height: 10px;
    border-radius: 100%;
    background-image: radial-gradient(rgba(34, 50, 84, 0.04), rgba(34, 50, 84, 0));
}

.tariffCards>div {
    position: relative;
    width: 280px;
    height: 140px;
    border-radius: 12px;
    color: #fff;
    transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
    transition: all 0.4s ease;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 40px;
}

.tariffCards>div:after {
    position: absolute;
    top: -70px;
    left: 0;
    content: '';
    width: 200%;
    height: 200%;
    background-image: linear-gradient(60deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%);
    transform: translateX(-100%);
}

.tariffCards>div img {
    margin-top: 15px;
    pointer-events: none;
}

.tariffCards>div h3 {
    position: absolute;
    top: 28px;
    left: 15px;
    font-size: 18px;
    font-weight: 800;
    color: white;
}

.tariffCards>div span {
    position: absolute;
    font-weight: 700;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
    color: white;
}

.tariffCards>div.economy {
    margin-top: 0;
    z-index: 3;
    background-color: #5E454B;
    background-image: linear-gradient(135deg, #91898a, #5E454B);
    box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #645743;
}

.tariffCards>div.premiumeconomy {
    margin-top: -70px;
    z-index: 2;
    background-color: #5e513b;
    background-image: linear-gradient(135deg, #80745e, #bb934e);
    box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #6b6551;
}

.tariffCards>div.business {
    margin-top: -70px;
    z-index: 1;
    background-color: #5b6a61;
    background-image: linear-gradient(135deg, #91a59a, #3e5050);
    box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #5c6962;
}

.tariffCards>div.first {
    margin-top: -70px;
    background-color: #87AAAA;
    background-image: linear-gradient(135deg, #87AAAA, #6e5e46);
    box-shadow: 5px 5px 60px rgba(34, 50, 84, 0.1), 1px 1px 0px 1px #3c4d4d;
}

.tariffCards>div:hover {
    transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}

.tariffCards>div:hover:after {
    transform: translateX(100%);
    transition: all 1.2s ease-in-out;
}

.uy {
    height: 80vh;
    overflow: hidden;
}

.untitled {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-animation: rotateHue infinite 20s linear;
    animation: rotateHue infinite 20s linear;
    -webkit-animation-delay: 0.625s;
    animation-delay: 0.625s;
}

@-webkit-keyframes rotateHue {
    0% {
        filter: hue-rotate(0deg);
    }
    20% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(90deg);
    }
    45% {
        filter: hue-rotate(90deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    70% {
        filter: hue-rotate(180deg);
    }
    75% {
        filter: hue-rotate(270deg);
    }
    95% {
        filter: hue-rotate(270deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes rotateHue {
    0% {
        filter: hue-rotate(0deg);
    }
    20% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(90deg);
    }
    45% {
        filter: hue-rotate(90deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    70% {
        filter: hue-rotate(180deg);
    }
    75% {
        filter: hue-rotate(270deg);
    }
    95% {
        filter: hue-rotate(270deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.untitled__shutters {
    position: absolute;
    height: 150vmax;
    width: 150vmax;
    left: calc(50% - 75vmax);
    top: calc(50% - 75vmax);
    pointer-events: none;
    z-index: 2;
    -webkit-animation: rotateFrame 10s linear infinite;
    animation: rotateFrame 10s linear infinite;
}

@-webkit-keyframes rotateFrame {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateFrame {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.untitled__shutters:before,
.untitled__shutters:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background-color: #b3401a;
    pointer-events: auto;
}

.untitled__shutters:before {
    bottom: 50%;
    -webkit-animation: openTop 5s infinite;
    animation: openTop 5s infinite;
}

@-webkit-keyframes openTop {
    0% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}

@keyframes openTop {
    0% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        transform: translate3d(-50%, -65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}

.untitled__shutters:after {
    top: 50%;
    -webkit-animation: openBottom 5s infinite;
    animation: openBottom 5s infinite;
}

@-webkit-keyframes openBottom {
    0% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}

@keyframes openBottom {
    0% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    }
    40% {
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    70% {
        transform: translate3d(-50%, 65vmax, 0);
        animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
        animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
}

.untitled__slides {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #b3401a;
}

.untitled__slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-animation: showHideSlide infinite 20s steps(1);
    animation: showHideSlide infinite 20s steps(1);
}

@-webkit-keyframes showHideSlide {
    0% {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    25% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
}

@keyframes showHideSlide {
    0% {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
    }
    25% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
}

.untitled__slide:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.untitled__slide:nth-child(2) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.untitled__slide:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.untitled__slide:nth-child(4) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.untitled__slideBg {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-color: #b3401a;
    background-blend-mode: hard-light;
    opacity: 1;
    z-index: -1;
    -webkit-animation: bgInOut 5s infinite;
    animation: bgInOut 5s infinite;
}

@-webkit-keyframes bgInOut {
    0% {
        transform: rotate(-45deg) scale(1.1);
        -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    33% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    66% {
        transform: rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    100% {
        transform: rotate(45deg) scale(0.9);
    }
}

@keyframes bgInOut {
    0% {
        transform: rotate(-45deg) scale(1.1);
        -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    33% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    66% {
        transform: rotate(0deg);
        -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
        animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    100% {
        transform: rotate(45deg) scale(0.9);
    }
}

.untitled__slideContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: white;
    font-family: "Abril Fatface", sans-serif;
    line-height: 0.8;
    letter-spacing: -0.025em;
    z-index: 2;
    opacity: 1;
    text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
    mix-blend-mode: lighten;
}

.untitled__slideContent span {
    display: block;
    font-size: 15vmin;
}

.button {
    font-family: "Roboto Mono", sans-serif;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2vmin;
    display: inline-block;
    position: relative;
    border: 3px solid white;
    box-shadow: -0.5vmin 0.5vmin 0 rgba(255, 255, 255, 0.5);
    background: transparent;
    margin-top: 5vmin;
    mix-blend-mode: lighten;
    color: white;
    padding: 2vmin 2vmin 1.8vmin 2vmin;
    letter-spacing: 0.1em;
    text-shadow: none;
    line-height: 1;
    transform: translate3d(0.5vmin, -0.5vmin, 0);
    transition: all 100ms linear;
}

.button:hover {
    transform: translate3d(1vmin, -1vmin, 0);
    box-shadow: -1vmin 1vmin 0 rgba(255, 255, 255, 0.5);
    background: white;
    color: black;
}

.button:active {
    transform: translate3d(0px, 0px, 0);
    box-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
}

.he {
    text-align: center;
    height: 100px;
}

.he h2 {
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    word-spacing: 10px;
    letter-spacing: 1px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(85, 85, 85, 0.822);
    background-color: rgba(28, 28, 28, 0.178);
}

.counter {
    color: #2793D3;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 240px;
    width: 210px;
    padding: 70px 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.counter:before {
    content: '';
    background: linear-gradient(to right, #f5f5f5, #fff);
    border-radius: 7px;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 45px;
    top: 45px;
    z-index: -1;
}

.counter .counter-value {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    display: block;
    margin: 0 0 9px;
}

.counter .counter-value:before,
.counter .counter-value:after {
    content: '';
    background: linear-gradient(to right bottom, #5ED3DA, #2793D3, #5ED3DA);
    height: 80px;
    width: 80px;
    border-radius: 10px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 15px;
    z-index: -2;
}

.counter .counter-value:after {
    top: auto;
    bottom: 15px;
}

.counter h3 {
    color: #888;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.counter .counter-icon {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 25px;
}

.stat {
    background-color: rgba(73, 72, 72, 0.618) !important;
}

.jd {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}