section.why-us {
    position: relative;
}

section.why-us::after {
    content: "";
    background: url("https://image.freepik.com/free-vector/flat-design-polygonal-background_23-2148898663.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: -150px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.body-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.cont {
    flex-grow: 1;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cards__item {
    height: 200px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.card:nth-child(1) {
    background-image: linear-gradient(45deg, #3503ad, #f7308c);
}

.card:nth-child(2) {
    background-image: linear-gradient(45deg, #ccff00, #09afff);
}

.card:nth-child(3) {
    background-image: linear-gradient(45deg, #e91e63, #ffeb3b);
}

.card__frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card__picture {
    margin-bottom: 12px;
    filter: invert(1);
}

.card__picture img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card__title {
    margin: 0;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.card__overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

.card__overlay::before {
    content: "Read";
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.card__overlay:hover,
.card__overlay:focus {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    opacity: 0.9;
}

.card__overlay:hover::before,
.card__overlay:focus::before {
    content: none;
}

.card:nth-child(1) .card__overlay {
    background-image: linear-gradient(45deg, #3503ad, #f7308c);
}

.card:nth-child(2) .card__overlay {
    background-image: linear-gradient(45deg, #ccff00, #09afff);
}

.card:nth-child(3) .card__overlay {
    background-image: linear-gradient(45deg, #e91e63, #ffeb3b);
}

.card__content {
    z-index: 1;
    padding: 20px;
    line-height: 1.4;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    pointer-events: none;
    transition: 0s;
}

.card__overlay:hover~.card__content {
    opacity: 1;
    visibility: visible;
    transition: 0.2s 0.3s;
}

.card__content h2 {
    margin: 0;
    margin-bottom: 16px;
}

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

.carousel ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:nth-child(even) {
    background-color: #99f;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.tab {
    width: 100%;
    min-width: 100%;
}

.search-bar {
    display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 40px;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
}

.search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}

.search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 20px;
    height: 20px;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 15px;
    height: 5px;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}


/* Active state */

.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: #0c48db;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
    .search-bar input {
        box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: #3d3d3d;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
        background: #f1f1f1;
    }
}

.nav-tabs {
    width: 250px !important;
    min-width: 250px !important;
}

h1 {
    color: #f5a425;
    text-align: center;
}

.ta input,
.ta input[type="radio"]+label,
.ta input[type="checkbox"]+label:before,
.ta select option,
.ta select {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ta input:focus {
    outline: 0;
    border-color: #bd8200;
}

.ta input:focus+.input-icon i {
    color: #f0a500;
}

.ta input:focus+.input-icon:after {
    border-right-color: #f0a500;
}

.ta .input-group {
    margin-bottom: 1em;
    zoom: 1;
}

.ta .input-group:before,
.ta .input-group:after {
    content: "";
    display: table;
}

.ta .input-group:after {
    clear: both;
}

.ta .input-group-icon {
    position: relative;
}

.ta .input-group-icon input {
    padding-left: 4.4em;
}

.ta .input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
}

.ta .input-group-icon .input-icon:after {
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ta .input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ta.container {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.ta .row {
    zoom: 1;
}

.ta .row:before,
.ta .row:after {
    content: "";
    display: table;
}

.ta .row:after {
    clear: both;
}

.ta .col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
}

.ta .col-half:last-of-type {
    padding-right: 0;
}

.ta .col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
}

.ta .col-third:last-of-type {
    padding-right: 0;
}

@media only screen and (max-width: 540px) {
    .ta .col-half {
        width: 100%;
        padding-right: 0;
    }
}

h2 {
    font-size: 17px;
}

.desc {
    background-color: rgba(255, 255, 255, 0.397);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.35);
    padding: 40px;
    text-align: justify;
    border-radius: 20px;
}

.desc p {
    font-size: 14px;
    font-weight: 500;
    color: #221807
}

.main-content .btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent;
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
}

.main-content .btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    z-index: 1;
    opacity: 0;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.main-content .btn::after {
    transition: border 0.1s linear 0.05s;
}

.main-content .btn .btn-inner {
    position: relative;
    z-index: 2;
}

.main-content .btn:hover {
    color: #373737;
    transition: color 0.1s linear 0s;
}

.main-content .btn:hover::before {
    top: 0;
    height: 100%;
    opacity: 1;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.main-content .btn:hover::after {
    border-color: #373737;
    transition: border 0.1s linear 0s;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
    display: block;
}

.slideshow .slide.is-loaded {
    opacity: 1;
}

.slideshow .slide .caption {
    padding: 0 100px;
}

.slideshow .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
    background-size: cover;
    image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slideshow .slide .image {
    width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slideshow .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow .slide .title {
    margin: 0 auto 15px;
    max-width: 1000px;
    font: 300 50px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}

.slideshow .slide .text {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 18px;
    line-height: 1.4;
}

.slideshow .slide .btn {
    margin: 15px 0 0;
    border-color: #fff;
}

.slideshow .slide .btn::before {
    background: #fff;
}

.slideshow .pagination {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center;
}

.slideshow .pagination .item {
    display: inline-block;
    padding: 15px 5px;
    position: relative;
    width: 46px;
    height: 32px;
    cursor: pointer;
    text-indent: -999em;
    z-index: 1;
}

.slideshow .pagination .item+.page {
    margin-left: -2px;
}

.slideshow .pagination .item::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 36px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease;
}

.slideshow .pagination .item::after {
    width: 0;
    background: #fff;
    z-index: 2;
    transition: width 0.2s ease;
}

.slideshow .pagination .item:hover::before,
.slideshow .pagination .item.is-active::before {
    background-color: #fff;
}

.slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
}

.slideshow .arrows .prev {
    left: 30px;
}

.slideshow .arrows .prev:hover .svg {
    left: -10px;
}

.slideshow .arrows .next {
    right: 30px;
}

.slideshow .arrows .next:hover .svg {
    left: 10px;
}

.slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease;
}